body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 360px;
}

.profile {
  border: 1.5px solid #e5e5e5;
  background-image: radial-gradient(#ffffff 70%, #f6f6f6);
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  max-width: 360px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.contact {
  border: 1.5px solid #e5e5e5;
  border-radius: 0px 0px 15px 15px;
  border-top: none;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-top: -12px;
}

header {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
}

.photo-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.name-and-bio {
  margin: 0;
}

.name-and-profession h2 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}

#name {
  margin-bottom: 0;
  font-weight: 600;
}

#profession {
  margin-top: 0;
  font-size: 13px;
  color: #4d4d4d;
}

.contact {
  border: 1.5px solid #e5e5e5;
  border-radius: 0px 0px 15px 15px;
  border-top: none;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-top: -12px;
}

.contact-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  width: 300px;
  color: #4d4d4d;
  padding-top: 10px;
}

.contact-container a {
  display: flex;
  align-items: center;
  padding-left: 5px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.contact-container a:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: 0.2s;
}

.bxs-envelope {
  font-size: 25px;
  color: white;
  margin-right: 10px;
  transition: 0.2s;
}

.contact-container a:hover .bxs-envelope {
  color: black;
  transition: 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main a {
  border: 1.5px solid #e5e5e5;
  width: 100%;
  max-width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.2s;
  margin-top: 10px;
}

main a:hover {
  background-color: #e4e4e4;
  transition: 0.2s;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;
}

.text-container span {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 15;
}

.text-container p {
  margin: 0;
  font-size: 13px;
  color: #4d4d4d;
}

.bx-link-alt {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 8px;
}

.bxl-github {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 8px;
}

.bx-link-alt {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 8px;
}

.footer-section {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 360px;
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 360px;
  justify-content: center;
  border-radius: 8px;
  margin-top: 10px;
  background-color: black;
}

.footer-container p {
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}

@media (max-width: 360px) {
  .profile,
  .contact,
  main a,
  .footer-section {
    max-width: 95%;
  }

  .description p {
    font-size: 11px;
  }

  .contact-container a {
    font-size: 14px;
    padding: 6px;
    width: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .text-container span {
    font-size: 14px;
  }

  .text-container p {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  header,
  .profile,
  .contact,
  .footer-section {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  header,
  .profile,
  .contact,
  .footer-section {
    max-width: 700px;
  }

  .footer-container p {
    font-size: 12px;
  }
}